@model Game
@{
    ViewData["Title"] = "Game";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="text-center">

    <h1 class="display-4">Players and their cards</h1>
    <table class="main">
        @for(int i=0; i<Model.Players.Length; i++) {
            <tr>
                <td class="full" >@Model.Players[i].Name</td>
            </tr>
            <tr class="scrollable">
                <td class="b_t">
                    @for(int j=0; j<Model.Players[i].Deck.Count(); j++) {
                        <table class="card">
                            <tr>
                                <td class="b_r">Weight:</td>
                                @if(i==Model.ActPlayerID && (i==Model.CalleeID || Model.CallProp=="Weight")) {
                                    <td class="b_l"><a href='/Game/Call?Card=@j&Prop=Weight'>@Model.Players[i].Deck[j].Weight</a></td>
                                }
                                else
                                {
                                    <td class="b_l">@Model.Players[i].Deck[j].Weight</td>
                                }
                                
                            </tr>
                            <tr>
                                <td class="b_r">Speed:</td>
                                @if(i==Model.ActPlayerID && (i==Model.CalleeID || Model.CallProp=="Speed")) {
                                    <td class="b_l"><a href='/Game/Call?Card=@j&Prop=Speed'>@Model.Players[i].Deck[j].Speed</a></td>
                                }
                                else
                                {
                                    <td class="b_l">@Model.Players[i].Deck[j].Speed</td>
                                }
                            </tr>
                            <tr>
                                <td class="b_r">Price:</td>
                                @if(i==Model.ActPlayerID && (i==Model.CalleeID || Model.CallProp=="Price")) {
                                    <td class="b_l"><a href='/Game/Call?Card=@j&Prop=Price'>@Model.Players[i].Deck[j].Price</a></td>
                                }
                                else
                                {
                                    <td class="b_l">@Model.Players[i].Deck[j].Price</td>
                                }
                            </tr>
                        </table>
                    }
                </td>
            </tr>
        }
    </table>
</div>
